In [1]:
import json
import random
import pandas as pd
import numpy as np
import xlsxwriter
from xlsxwriter.utility import xl_rowcol_to_cell, xl_col_to_name

In [27]:
regionCountry = {"AMR":["USA","Canada"],"EUROPE":["Austria","Belgium"]}
cars = ["Audi","BMW","Mercedes"]
months = ["Jan","Feb","Mar"]
salesData = []
for region,countries in regionCountry.items():
    for country in countries:
        for car in cars:
            salesRecord = {"region":region,"country":country,"car":car}
            for month in months:
                salesRecord[month] = random.randint(100,2000)
            
            salesData.append(salesRecord)
                
                

df = pd.DataFrame(salesData)
display(df)

    region  country       car   Jan   Feb   Mar
0      AMR      USA      Audi  1792  1771   908
1      AMR      USA       BMW   267  1378   437
2      AMR      USA  Mercedes   422  1053  1528
3      AMR   Canada      Audi   769   396   743
4      AMR   Canada       BMW  1406   782  1365
5      AMR   Canada  Mercedes   745  1085   809
6   EUROPE  Austria      Audi   221  1608   244
7   EUROPE  Austria       BMW   219   728  1037
8   EUROPE  Austria  Mercedes  1052   725   490
9   EUROPE  Belgium      Audi  1343   688   782
10  EUROPE  Belgium       BMW   503  1507  1860
11  EUROPE  Belgium  Mercedes  1273  1967   200

In [24]:
#Export to Excel. We could have used Pandas Export to Excel functionality
#But in this post we are focussing on using xlsxwriter to export to excel.
workbook = xlsxwriter.Workbook('Car_Sales_Data.xlsx')
worksheet = workbook.add_worksheet("Sheet 1")

headers = list(salesData[0])

header_format = workbook.add_format({'bold':True,'font_color':'white','border':1, 'bg_color':'gray'})
bold_format = workbook.add_format({'bold':True,'font_color':'white','border':1, 'bg_color':'blue'})

for index, element in enumerate(headers):
    column = xl_col_to_name(index)
    worksheet.write(column+str(1),element.upper(),header_format)

# We will also download a total column and an average column into the excel without having to modify the model.
# Will use the excel formulas functionality 

totalColIndex = len(headers)
worksheet.write(xl_col_to_name(totalColIndex) + str(1),'TOTAL',header_format)
worksheet.write(xl_col_to_name(totalColIndex+1) + str(1),'AVERAGE',header_format)

# Now we will write the data itself

for rowIndex, record in enumerate(salesData):
    for colIndex, element in enumerate(headers):
        value = record[element]
        cell = xl_col_to_name(colIndex) + str(rowIndex+2)
        worksheet.write(cell,value)
    
    #Now lets apply the formula  
    totalFormulaCell = xl_col_to_name(totalColIndex) + str(rowIndex+2)
    avgFormulaCell = xl_col_to_name(totalColIndex+1) + str(rowIndex+2)
    total_formula_str = '=SUM(D%d:F%d)'%((rowIndex+2),(rowIndex+2))
    average_formula_str = '=AVERAGE(D%d:F%d)'%((rowIndex+2),(rowIndex+2))
    
    worksheet.write_formula(totalFormulaCell,total_formula_str,bold_format)
    worksheet.write_formula(avgFormulaCell,average_formula_str,bold_format)

workbook.close()